<nav class="navbar-container">
  <div class="logo-container">
    <div class="menu-link-container" data-menuanchor="accueil">
      <img
        class="logo-polkafrance"
        href="#accueil"
        src="../../assets/Polkafrance logo.png"
      />
    </div>
  </div>

  <ul class="menu" id="menu">
    <li class="menu-link-container" data-menuanchor="accueil">
      <a class="menu-link" href="#accueil">accueil</a>
    </li>
    <li class="menu-link-container" data-menuanchor="presentation-ecosysteme">
      <a class="menu-link" href="#presentation-ecosysteme">L'ecosysteme</a>
    </li>
    <li class="menu-link-container" data-menuanchor="videos">
      <a class="menu-link" href="#videos">videos</a>
    </li>
    <li class="menu-link-container" data-menuanchor="articles">
      <a class="menu-link" href="#articles">articles</a>
    </li>
    <li class="menu-link-container" data-menuanchor="team">
      <a class="menu-link" href="#team">team</a>
    </li>
  </ul>

  <ul class="social-networks-container" id="social-networks">
    <li class="social-networks-icon-container">
      <img
        class="social-networks-icon"
        src="../../assets/twitter_pink.png"
        class="social-networks-icon"
        href=""
      />
    </li>
    <li class="social-networks-icon-container">
      <img
        class="social-networks-icon"
        src="../../assets/discord_pink.png"
        class="social-networks-icon"
        href=""
      />
    </li>
    <li class="social-networks-icon-container">
      <img
        class="social-networks-icon"
        src="../../assets/youtube_pink.png"
        class="social-networks-icon"
        href=""
      />
    </li>
  </ul>
</nav>
