.navbar-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 70%;

  .logo-polkafrance {
    width: 60px;
    height: 80px;
    padding-top: 1em;
  }
  .menu {
    width: 100%;
    display: flex;
    justify-content: center;

    .menu-link-container {
      padding: 1em;
      list-style: none;

      .menu-link {
        text-decoration: none;
      }
    }
  }

  .social-networks-container {
    display: flex;
    list-style: none;

    .social-networks-icon {
      width: 50px;
      height: 50px;
    }
  }
}
