@import "../../styles/fonts.scss";

.ecosystem-container {
  height: 100vh;

  .background {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .market {
    height: 15%;
    width: 100%;
  }

  .polkadot-kusama-container {
    height: 348px;
    display: flex;
    flex-direction: row;

    .ecosystem-presentation-container {
      width: 50%;
      z-index: 1;
      padding: 7%;
      color: white;

      .title-ecosystem {
        @include dosis-extra-bold-large;
      }

      .paragraph-ecosystem {
        @include dosis-semi-bold-small;
      }
    }
  }

  .comparaison-maket-container {
    display: flex;
    width: 100%;
    height: 100%;

    .polkadot {
      width: 50%;
    }
    .kusama {
      width: 50%;
    }
  }
}
