<div class="ecosystem-container">
  <img class="background" src="../../assets/kusama polkadot background.png" />

  <div class="polkadot-kusama-container">
    <div class="ecosystem-presentation-container">
      <h1 class="title-ecosystem">POLKADOT (DOT)</h1>
      <p class="paragraph-ecosystem">
        Polkadot est une plate-forme qui vise à créer un réseau de blochains
        publiques et privées pouvant échanger des actifs et des données
        personnalisés.
      </p>
    </div>
    <div class="ecosystem-presentation-container">
      <h1 class="title-ecosystem">KUSAMA (KSM)</h1>
      <p  class="paragraph-ecosystem">
        Kusama est un environnement bac à sable pour Polkadot où les
        développeurs ont plus de flexibilité pour imaginer leurs projets.
      </p>
    </div>
  </div>
  <div class="market"></div>
  <div class="comparaison-maket-container">
    <div class="polkadot"></div>
    <div class="kusama"></div>
  </div>
</div>
