@import "../../styles/fonts.scss";

.ecosystem-container {
  height: 100vh;

  .background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
  }

  .polkadot-kusama-container {
    height: 50%;
    display: flex;
    flex-direction: row;

    .ecosystem-presentation-container {
      width: 50%;
      z-index: 1;
      padding: 7%;
      color: white;

      .title-ecosystem {
        @include dosis-extra-bold-large;
      }

      .paragraph-ecosystem {
        @include dosis-semi-bold-small;
      }
    }
  }

  .market {
    height: 5%;
    width: 100%;
    margin-top: 1em;

    .market-text {
      @include dosis-semi-bold-medium;
      color: var(--black);
      margin: 0;
      width: fit-content;
      text-align: center;
      margin: 0 auto;
      border-bottom: 2px solid;
    }
  }

  .comparaison-maket-container {
    display: flex;
    width: 100%;
    height: 100%;

    .ecosystem-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .logo-ecosystem {
        max-width: 50%;
        max-height: 20%;
      }

      .ecosystem-data {
        @include dosis-semi-bold-medium;
      }
    }
  }
}
