<img class='background-right-png' src='../../assets/background png 1.png'>

<div class='container'>
    <div class="title-polkafrance-container">
        <img src='../../assets/Polkafrance dark word.png'>
        <p class="text-principal">Communauté française sur l'écosystème</p>
        <p class="text-principal">Polkadot & Kusama</p>
    </div>

    <button class="go-to-articles-button">
        Voir les articles
    </button>

</div>
<img class='background-left-png' src='../../assets/Group 101.png'>

